body{
    background: linear-gradient(120deg,#f6d365,#fda085);
}

.captainjacksparrow{
    padding-top:10%;
}
.avengers{
    padding-left: 350px;
    margin-top: -250px;
    position: absolute;
    top:520px;
    left:400px;
}
.scam{
    padding-left: 700px;
    margin-top: -400px;
    position: relative;
    top:520px;
}
/* h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    /* color: chocolate; */
    /* color: black; */
/* } */
/* h1:hover{
    font-weight: bolder;
    color: chocolate;
} */ */
.heading{
    text-align: center;
}
.pause{
    position: absolute;
    top:700px;
    left:800px;
    height: 80px;
    width: 200px;
    border-radius: 20px;
    border-style: solid ;
    border-color:black;
}
.pause:hover{
    font-weight: bolder;
    color: #fda085;
}

.pause1{
    position: absolute;
    top:700px;
    left:1100px;
    height: 80px;
    width: 200px;
    border-radius: 20px;
    border-style: solid ;
    border-color:black;
}
.pause1:hover{
    font-weight: bolder;
    color: #fda085;
}
.main{
    display: flex;
    justify-content: space-around;
    /* align-items: center;
    justify-content: center; */
}
